
/*OOOOOO[ overworld ]DDDDDDDD*/
	html { 
    	margin: 0 auto; 
    	}

	body {
		background-color: #fbd2d7;
    	margin: 0px;
    	}
       
/*LLLLLLLLL[ links ]SSSSSSSSS*/

    a {
		color: #000000;
		text-decoration: none;
		}
	a:hover {
		text-decoration: underline;
		}
        
a.top { line-height: 80px; padding: 10px 4px 0px 4px;
  color: white; background-color:black; color: white; font-size: 55px; font-family: grotesque mt std;}

a.left { line-height: 100px; padding: 0px 4px 10px 4px;
  color: white; background-color: black; color: white; font-size: 400%; font-family: grotesque mt std, arial black, verdana;}

a.right { line-height: 200px; background-color:black; color: white; font-size: 950%; font-family: grotesque mt std, arial black, verdana;}

 
.columnRight { z-index: -1;
 	float: left;
    width: 15%;
    position: -webkit-sticky;
  position: fixed;
  bottom: 0;
} 
      
.columnLeft {
 	float: right; margin-right: 160
    width: 15%;
  text-align: right;
   position: -webkit-sticky;
  position: fixed;
  bottom: 0;
  right: 0;
} 
 /*title bar css*/
 
  .buyKillTrade { margin: auto;
    margin-left: 12%;
    position: fixed;
    top: 5%;
    width: 75%;
    
} 
 
 .socialmedia { 
	float: left;
    width: 20%}
    
    
     .title {
    	font-size:200px; 
        padding-left: 60px; 		 				
        background-color:#000000; 
        font-family: grotesque mt std, helvetica; 
        margin:0px; 
        line-height:200px; 			
        letter-spacing: -20px }


.invert {
   -webkit-filter: invert(1);
   filter: invert(1);
   }
   
.categories {
 
font-family: arial rounded mt bold, grotesque mt std, helvetica; 
margin:0px; 
line-height:70px; 
font-size: 70px;
font-weight: 600;
	}
    
    
   .hat-categories {
 
font-family: arial black; 
margin:0px; 
line-height:70px; 
font-size: 50px;
font-weight: 600;
color: white;
border-style: solid;
border-width: 6px;
background-color: black;
border-color: #fbd2d7;
	}
   
   
 /*TEXT ON IMAGE*/
    p.image-text

{ margin:0px;
font-size: 20px;
background: #000000;
font-family: georgia;
color:black; 

}


.goldimagetext

{ font-size: 20px;
font-family: arial-black, grotesque mt std, grotesque mt std, grotesque mt std, grotesque mt std, grotesque mt std, grotesque mt std, grotesque mt std, grotesque mt std, helvetica-bold;
}

    div.container

{
	position: relative;
    text-align: center;
    color: black;
    
    }
    
       div.containercolumn

{
	position: relative;
    text-align: center;
    color: black;
    	float: left;
    width:50%;}
    
    
     div.top-right {
    position: absolute;
    top: 5%;
    right: 10%;
    }
     div.bottom-left {
    position: absolute;
    bottom: 5%;
    left: 10%;
    }
    
    
  /*COLUMNS*/
 
 
  /* clearfix (clear floats)*/
.row::after {
	content: "";
    clear: both;
    display: table;
}
    
    
* {
	box-sizing: border-box;
    }
    
    
blockquote 
    {width:100%;}




.column {
 	float: left;
    width:33.33%;

}



.column30 {
 	float: left;
    width:30%;

}

div.column33

{
	position: relative;
    text-align: left;
    color: black;
    	float: left;
    width:40%;
    padding: .5px .5px .5px 50px }
    
    .column50 {
 	float: left;
    width:50%;

}

    div.column66

{
	position: relative;
    text-align: center;
    color: black;
    	float: left;
    width:60%;}
    



       /*footer css*/
    
 
  #site-footer {
   width: 100%;
   height:210px;
background: black;
}
    
  /*---*/



.column30 {

 	float: left;

    width:30%;



}


.solid { border-style: solid;
		border-color: black;
        border-width: 3px;
        border-radius:10px;
        background-color: white;
        padding: 7px;
        }
        
        
