/*these are the menu on the front image*/
    
#rcorners1 {
	border-radius: 4px 4px;
  color: black;
    background: #fa4251;
    padding: 5px 10px 0px 0px;
    line-height: 70px;
    margin: 5px;
    }
    
    
    #rcorners2 {
	border-radius: 4px 4px;
    background: #ffd31c;
      
    color: #fa4251;
    padding: 5px 10px 0px 0px;
    line-height: 70px;
    margin: 5px;
    }
 
    #rcorners3 {
	border-radius: 4px 4px;
    background: black;
    color: #ffd31c;
    padding: 5px 10px 0px 0px;
    line-height: 70px;
    margin: 5px;
    }
    
    p.solid {
        float: left;
        text-align: center;
        font-family: helvetica-bold, arial black;
        font-size: 85px;
     
        }
       p:hover {text-decoration: underline}



/*the main categories on the home page*/
          .gold {
    color: #ffd31c;
    background-color: #fa4251; 
  font: italic bold 65px/45px helvetica, sans-serif;
 padding-right: 8px; }
  


      .main-topics {
        background-color:#fa4251; 
        font: bold 65px/50px arial rounded mt bold;
        padding-top: 3px;
        }
